/* Your code here */

.ul-holder>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    padding: 20px;
    font-weight: solid;
    width: max-content;
}

li {
    padding: 10px;
}

.ul-holder {
    justify-content: space-around;
    border-bottom: 1px solid lightgray;
}

@media only screen and ( width < 1000px) {
    nav.links {
        display: none;
    }
}